In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv("Iris.csv")
df.head(5)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [2]:
df.loc[:,"SepalLengthCm"].mean()

5.843333333333334

In [3]:
df.loc[:,"SepalLengthCm"].median()

5.8

In [4]:
df.loc[:,"SepalLengthCm"].mode()

0    5.0
Name: SepalLengthCm, dtype: float64

In [5]:
df.loc[:,"SepalLengthCm"].std()

0.8280661279778629

In [6]:
df.loc[:,"SepalLengthCm"].min()

4.3

In [7]:
df.loc[:,"SepalLengthCm"].max()

7.9

In [8]:
df.loc[:,"SepalLengthCm"].var()

0.6856935123042505

In [9]:
df.loc[:,"SepalLengthCm"].count()

150

In [10]:
df.loc[:,"SepalWidthCm"].mean()

3.0540000000000003

In [11]:
df.loc[:,"SepalWidthCm"].median()

3.0

In [12]:
df.loc[:,"SepalWidthCm"].mode()

0    3.0
Name: SepalWidthCm, dtype: float64

In [13]:
df.loc[:,"SepalWidthCm"].min()

2.0

In [14]:
df.loc[:,"SepalWidthCm"].max()

4.4

In [15]:
df.loc[:,"SepalWidthCm"].std()

0.4335943113621737

In [16]:
df.loc[:,"SepalWidthCm"].var()

0.18800402684563763

In [17]:
df.loc[:,"SepalWidthCm"].count()

150

In [18]:
df.loc[:,"PetalLengthCm"].mean()

3.758666666666666

In [19]:
df.loc[:,"PetalLengthCm"].median()

4.35

In [20]:
df.loc[:,"PetalLengthCm"].mode()

0    1.5
Name: PetalLengthCm, dtype: float64

In [21]:
df.loc[:,"PetalLengthCm"].std()

1.7644204199522617

In [22]:
df.loc[:,"PetalLengthCm"].min()

1.0

In [23]:
df.loc[:,"PetalLengthCm"].max()

6.9

In [24]:
df.loc[:,"PetalLengthCm"].var()

3.1131794183445156

In [25]:
df.loc[:,"PetalLengthCm"].count()

150

In [26]:
df.loc[:,"PetalWidthCm"].mean()

1.1986666666666668

In [27]:
df.loc[:,"PetalWidthCm"].median()

1.3

In [28]:
df.loc[:,"PetalWidthCm"].mode()

0    0.2
Name: PetalWidthCm, dtype: float64

In [29]:
df.loc[:,"PetalWidthCm"].std()

0.7631607417008414

In [30]:
df.loc[:,"PetalWidthCm"].min()

0.1

In [31]:
df.loc[:,"PetalWidthCm"].max()

2.5

In [32]:
df.loc[:,"PetalWidthCm"].var()

0.5824143176733784

In [33]:
df.loc[:,"PetalWidthCm"].count()

150

In [34]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000